@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@600&family=Yeon+Sung&display=swap');
body {
  font-family: 'Josefin Sans', cursive;
  background-color: #EDF2F7;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
*{
  margin: 0;
 padding: 0;

}